name: poc-all

services:
  db:
    container_name: poc-all-postgres
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./init-databases.sh:/docker-entrypoint-initdb.d/init-databases.sh
