spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/filter_specification
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
